#skills {
  height: 50vh;
  padding-bottom: 50px;
}
#skills p {
  padding: 40px 0;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.mySkills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 50px;
  justify-content: center;
}
.skilly {
  width: 200px;
  height: 50px;
  background-color: #eee;
  border-left: 10px solid;
  color: #000;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.skilly:hover {
  background-position: left;
}

/* tablet */
@media screen and (max-width: 900px) {
  #skills {
    height: fit-content;
    padding-bottom: 30px;
  }
  #skills p {
    padding: 30px 0;
    font-size: 20px;
  }
  .mySkills {
    grid-template-columns: repeat(3, 200px);
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  #skills {
    height: fit-content;
    padding-bottom: 20px;
  }
  #skills p {
    padding: 20px 0;
    font-size: 20px;
  }
  .mySkills {
    grid-template-columns: 200px;
    gap: 20px;
  }
  .skilly {
    width: 200px;
    height: 35px;
    border-left: 7px solid;
    padding-left: 10px;
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
  }
}
